.header-div {
    height: 9vh;
    background-color: brown;
    display: flex;
    align-items: center;
}

.app-logo-image img {
    height: 7vh;
    margin: 10px;
    animation: app-logo-spin infinite 8s linear;
}

.app-logo-text {
    font-size: 2vw;
    color: aliceblue;
    font-weight: 800;
    flex: 1;
    cursor: default;
}

.header-buttons {
    margin: 10px;
}

@keyframes app-logo-spin {
    from {
        transform: scaleX(-1);
    }
}